@model CategoryDeleteViewModel

<div class="container my-5">
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h4>Delete Category</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">Are you sure you want to delete this category?</h5>
            <div class="card-text">
                <dl class="row">
                    <dt class="col-sm-3">Name</dt>
                    <dd class="col-sm-9">@Model.Name</dd>

                    <dt class="col-sm-3">Description</dt>
                    <dd class="col-sm-9">@Model.Description</dd>

                    <dt class="col-sm-3">Animal Type</dt>
                    <dd class="col-sm-9">@Model.AnimalType</dd>
                </dl>
            </div>
            <form asp-controller="Category" asp-action="DeleteConfirmed" asp-route-id="@Model.Id">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>